.Dashboard{
     background: #010302;
      min-height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;

      .Dasboardcoss{
        display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 24px 16px 0 16px;
          background: #00110b;
          border-bottom: 1px solid #01100b;
          position: sticky;
          top: 0;
          z-index: 10;
      }
      .Dashnav
      {
        color: #ffffff;
            font-size: 28;
            font-weight: 700;
            letter-spacing: 1;
      }
      .DashGrid{
          display: flex;
          flex-wrap: wrap;
          gap: 24px;
          margin-top: 32px;
          justify-content: space-between;
          padding: 32px;
      }
}